<%+header%>
<script type="text/javascript" src="<%=media%>/apps.js"></script>
<script type="text/javascript" src="<%=media%>/patternizer.min.js"></script>
<link rel="stylesheet" type="text/css" href="<%=media%>/apps.css" />
<h2><a id="content" name="content"><%:Applications%></a></h2>
<% if admin_vars then %>
<script type="text/javascript" src="<%=media%>/admin_apps.js"></script>
<div class="cbi-map-descr"><%:Publicly announced applications running on this network are listed below.%></div>
<%else%>
<div class="cbi-map-descr"><%:Here you can view applications accessible from this node%>.</div>
<% end %>
<div class="cbi-map">
  <% if admin_vars then
	     include ("commotion/apps_admin_display")
	 else
	     include ("commotion/apps_display")
	 end%>
</div>
<%+footer%>
